*{								/* For all declarations */
	box-sizing: border-box;   
	margin: 0;
	border: 0;
	padding: 0;
	
}

html,body{						/* For all declarations */
	
	width:100%;
	height: 100%;
	max-height: 100%;
	max-width: 100%;
}

.item{
	
	width: 10em;
    height: 2em;
    border-style: solid;
    border-color: blue;
    border-width: .5px;
    border-radius: .5em .5em .5em .5em;
    text-align: center;
    padding-top: 0.3em;
    position: relative;
    left: 134%;
	overflow: hidden;
}

.subitem{
	
	width: 10em;
    height: 3em;
    border-style: solid;
    border-color: blue;
    border-width: .5px;
    border-radius: .5em .5em .5em .5em;
    text-align: center;
    padding-top: 0.3em;
    position: relative;
    left: 134%;
	transform: translateX(-50%) translateY(-30%);
}


.subitem.AboutUs{
	
	transform: translateX(-32%) translateY(-49%);

}

.subitem.Bookings{
	
	transform: translateX(-32%) translateY(-49%);

}

.AboutUs.item{
	
	transform: translateX(-103%) translateY(198%);
	visibility: hidden;
}

.Bookings.item{
	
	transform: translateX(-205%) translateY(247%);
	visibility: hidden;
}

body>div{
	display: inline-block;
	padding-top: 13em;
}

.item:hover{
	    
	overflow: visible;
}
